<h2 class="title">List of all new service type requests</h2>
<div *ngFor="let serviceRequest of serviceRequests">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <p class="mb-1"> Date request: {{ serviceRequest.dateRequest }}</p>
      <p class="mb-1">Description of the service requested: {{ serviceRequest.description }}</p>
      <p class="mb-1">Probable category requested: {{ serviceRequest.idCategory }}</p>
      <p class="mb-1">Status request: {{ serviceRequest.status }}</p>
    </a>
  </div>
</div>

