<div class="center-content">
  <div class="width-custom" style="--width: 80%;">
    <div>
      <h2>Tell us</h2>
      <h2>More about you</h2>
    </div>
  
    <div>
      <form #refugeeForm="ngForm" (ngSubmit)="registerRefugee(refugeeForm)" class="form">
        <!-- App User Information -->
        <div class="input-group mb-2">
          <span class="input-group-text">First Name</span>
          <input type="text" id="firstName" placeholder="First Name" name="firstName" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Last Name</span>
          <input type="text" id="lastName" placeholder="Last Name" name="lastName" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Email</span>
          <input type="email" id="email" placeholder="Email" name="email" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Gender</span>
          <input type="text" id="gender" placeholder="Gender" name="gender" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Phone</span>
          <input type="text" id="phone" placeholder="Phone" name="phone" class="form-control" ngModel required>
        </div>
  
        <!-- Refugee Information -->
        <div class="input-group mb-2">
          <span class="input-group-text">Protocol Id</span>
          <input type="text" id="protocolId" placeholder="Protocol ID" name="protocolId" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">SNS</span>
          <input type="text" id="sns" placeholder="SNS" name="sns" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Nationality</span>
          <input type="text" id="nationality" placeholder="Nationality" name="nationality" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Country</span>
          <input type="text" id="country" placeholder="Country" name="country" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Main Language</span>
          <input type="text" id="mainLanguage" placeholder="Main Language" name="mainLanguage" class="form-control" ngModel required>
        </div>
  
        <div class="input-group mb-2">
          <span class="input-group-text">Second Language</span>
          <input type="text" id="secondLanguage" placeholder="Second Language" name="secondLanguage" class="form-control" ngModel>
        </div>
        
        <div class="mb-2 d-flex justify-content-between">
          <app-back-button></app-back-button>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
