<div class="container">
      <style>
        img {
        background-color: transparent; /* Define o fundo como transparente */
        width: 300px; /* Define a largura da imagem como 30% do tamanho original */
        display: block; /* Faz com que a imagem se comporte como um bloco */
        
        background-image: url('assets/refugees01.png'); /* Adiciona o fundo ao contêiner */
        background-size: cover; /* Ajusta o tamanho do fundo para cobrir todo o contêiner */
        
        padding: 50px; /* Adiciona um espaçamento interno ao contêiner */
        box-sizing: border-box; /* Faz com que o padding não afete a largura total do contêiner */

        }
      </style>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <img src="assets/logo.png" alt="Logo">
    </div>
  </nav>

  <div class="row p-3">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">List of all new service type requests to approval</h5>
          <p class="card-text">Lists all requests from healthcare providers who have requested new types of service (awaiting validation).</p>
          <a href="#" class="btn btn-primary" [routerLink]="'/view-list-servicerequest'">submit</a>
        </div>
      </div>
    </div>

    <p></p>

    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">List of all new cost supports requested by approval</h5>
          <p class="card-text">Lists all requests from healthcare providers who have requested new cost supports (awaiting validation).</p>
          <a href="#" class="btn btn-primary" [routerLink]="'/view-admin/costsupportlist'">submit</a>
        </div>
      </div>
    </div>

    <p></p>

    <div class="row p-3">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List of all service types already requested</h5>
            <p class="card-text">Lists all types of service already requested by healthcare providers (all status types).</p>
            <a href="#" class="btn btn-primary" [routerLink]="'/view-list-servicerequest-all'">submit</a>
          </div>
        </div>
      </div>

      <p></p>

      <div class="row p-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">List of all cost supports already requested</h5>
              <p class="card-text">Lists all cost supports already requested by healthcare providers (all status types).</p>
              <a href="#" class="btn btn-primary" [routerLink]="'/view-list-servicerequest'">submit</a>
            </div>
          </div>
        </div>

</div>


</div>

