<app-refugee-header>
</app-refugee-header>

<div>
  <div *ngIf="isHome()">
    <app-refugee-home></app-refugee-home>
  </div>
  
  <div *ngIf="isSearch()">
    <app-refugee-search></app-refugee-search>
  </div>
  
  <div *ngIf="isAppointments()">
    <app-refugee-appointments></app-refugee-appointments>
  </div>
  
  <div *ngIf="isRequestAppointment()">
    <app-refugee-request-appointment></app-refugee-request-appointment>
  </div>
  
  <div *ngIf="isProfile()">
    <app-refugee-profile></app-refugee-profile>
  </div>
</div>