/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';



// Center
// ---------------------------------------------------------------

// Layout content in a vertical stack in the center of the screen 
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-horizontal {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.center-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}



// Width & Height
// ---------------------------------------------------------------

// set Width through a style variable: <div class="center-content" style="--width: 100%;">
.width-custom {
    width: var(--width);
}

// set Height through a style variable: <div class="center-content" style="--height: 128px;">
.height-custom {
    height: var(--height);
}