
<body>
  <!-- Top nav -->
  <app-header></app-header>
  <!--   
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <img
        src="assets/logo.png"
        alt="Logo"
        style="max-height: 64px; width: auto"
      />
      <div *ngIf="isNotGuest()">
        <a href="#" class="btn btn-outline-info" [routerLink]="'/sign-in'"
        >Sign in</a
      >
      </div>
    </div>
  </nav>
   -->

  <!-- Global Info Display -->
  <div class="card p-2 width:80px">
    <span class="border border-primay-subtle border-1">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            {{ this.appointments }}
          </div>
          <div class="col">€{{ this.amount }}</div>
          <div class="col">
            {{ this.donors }}
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col">People reached</div>
          <div class="col">Towards services</div>
          <div class="col">People Helping</div>
        </div>
      </div>
    </span>
  </div>

  <!-- Search -->
  <div class="card-body">
    <div class="mx-auto p-2">
      <nav class="navbar bg-body">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search for a service"
              aria-label="Search"
            />
            <button class="btn btn-outline-info" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <!-- Donate Btn -->
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
      <button
        class="btn btn-warning"
        type="button"
        [routerLink]="'/view-donation'"
      >
        DONATE
      </button>
    </div>


    <!-- Presentation / Guest Home -->
    <div class="row p-3" *ngIf="isGuest()">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Need help?</h5>
            <p class="card-text">
              Check the available services, sign in and schedule an appointment
              with one of our partners volunteers.
            </p>
            <!---inserir o link de lista de servicos-->
            <a href="#" class="btn btn-outline-info">Consult services</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Be a volunteer</h5>
            <p class="card-text">
              Register as a volunteers and help us offering health services to
              the ones who need.
            </p>
            <a href="#" class="btn btn-outline-info" [routerLink]="'/sign-up'"
              >Register</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Help us donating</h5>
            <p class="card-text">
              Make a donation and help the project sustain itself and reach more
              people.
            </p>
            <a
              href="#"
              class="btn btn-outline-info"
              [routerLink]="'/view-donation'"
              >Donate</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Admin Home -->
    <div *ngIf="isAdmin()">
      <h1>Admin Home</h1>
    </div>

    <!-- Refugee Home -->
    <div *ngIf="isRefugee()">
      <app-refugee-home></app-refugee-home>
    </div>

    <!-- Service Provider Home -->
    <div *ngIf="isServiceProvider()">
      <h1>Service Provider Home</h1>
    </div>

    <!-- Donor Home -->
    <div *ngIf="isDonor()">
      <h1>Donor Home</h1>
    </div>
  </div>
</body>

<div class="b-example-divider"></div>
<app-footer></app-footer>
