img {
      width: 55%;
      height: auto;
}
header{
      display: inline;
}

.container {
      margin-top: 50px;
      margin-bottom: 50px;
}

.donation {
      margin-top: 50px;
      margin-bottom: 50px;
}