
<body>
  <!-- Top nav -->
  <app-header></app-header>

  <!-- Global Info Display -->
  <app-global-details></app-global-details>

  <div class="container">
    <!-- Search -->
    <div class="card-body" *ngIf="isGuest() || isRefugee() || isDonor()">
      <div class="mx-auto p-2">
        <app-refugee-searchbar></app-refugee-searchbar>
      </div>
  
      <!-- Donate Btn -->
      <div class="d-grid gap-2 col-6 mx-auto mt-3" *ngIf="isGuest() || isDonor()">
        <button
          class="btn btn-warning"
          type="button"
          (click)="toDontation()">
          DONATE
        </button>
      </div>
  </div>
  


    <!-- Presentation / Guest Home -->
    <div class="row p-3" *ngIf="isGuest()">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Need help?</h5>
            <p class="card-text">
              Check the available services, sign in and schedule an appointment
              with one of our partners volunteers.
            </p>
            <!---inserir o link de lista de servicos-->
            <a href="#" class="btn btn-outline-info">Consult services</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Be a volunteer</h5>
            <p class="card-text">
              Register as a volunteers and help us offering health services to
              the ones who need.
            </p>
            <a href="#" class="btn btn-outline-info" [routerLink]="'/sign-up'"
              >Register</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Help us donating</h5>
            <p class="card-text">
              Make a donation and help the project sustain itself and reach more
              people.
            </p>
            <a
              href="#"
              class="btn btn-outline-info"
              [routerLink]="'/view-donation'"
              >Donate</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Admin Home -->
    <div *ngIf="isAdmin()">
      <h1>Admin Home</h1>
    </div>

    <!-- Refugee Home -->
    <div *ngIf="isRefugee()">
      <app-refugee-home></app-refugee-home>
    </div>

    <!-- Service Provider Home -->
    <div *ngIf="isServiceProvider()">
      <h1>Service Provider Home</h1>
    </div>

    <!-- Donor Home -->
    <div *ngIf="isDonor()">
      <h1>Donor Home</h1>
    </div>
  </div>
</body>

<div class="b-example-divider"></div>
<app-footer></app-footer>
