<div class="container"> 
  <h3>Request New Service Type</h3>
  <p></p>

  <div class="service-request-form"> </div> 
      <form class="form">

        <div class="input-group mb-2">
          <span class="input-group-text">Date of request new Service Type: </span>
            <input type="date" id="dateRequest" placeholder={{currentDate}} name="Date" class="form-control" [(ngModel)]="serviceRequest.dateRequest" required>
        </div>
                 
          <div class="category-selector">
            <div style="max-width: 200px">
              <div style="margin-bottom: 20px;">
            <label for="category-select">Select Category:</label>
              <select [(ngModel)]="serviceRequest.idCategory" name="idCategory" >
                <option value=0>select an option</option>
                <option value=1>Medicine</option>
                <option value=2>Nurse</option>
                <option value=3>Dentist</option>
                <option value=4>Psychology</option>
              </select>
               </div>
             </div>
          </div>
         
          <div class="input-group mb-2">
            <span class="input-group-text">Health Service</span>
              <input type="text" id="description" placeholder="Enter your description of the type of service  to offer" name="Description" class="form-control" [(ngModel)]="serviceRequest.description" required>
          </div>

          <div class="mb-2 d-flex justify-content-between">
            <app-back-button></app-back-button>
            <!--<button type="button" (click)="toListServiceRequest()" class="btn btn-light">List of new service type requests</button>-->
            <button 
              type="submit" 
              class="btn btn-primary"
              (click)="registerNewServiceRequest(
                serviceRequest.id,
                serviceRequest.dateRequest,
                serviceRequest.idCategory,
                serviceRequest.description,
                serviceRequest.status

              )"
               (click)="submitForm()"
              >submit</button>
          </div>
          <div class="message-container" *ngIf="message">{{ message }}</div>
     