<div class="container mb-3"> <!-- (click)="OnClickedServiceProvider()" -->
    <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
            <!-- Placeholder for image -->
            <img src="https://via.placeholder.com/64" alt="Image" class="img-fluid">
        </div>

        <!-- Details Column -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div><strong>{{ name }}</strong></div>
            <div>{{ category }}</div>
            <div>{{ location }}</div>
        </div>
    </div>
</div>