<app-header></app-header>

<div class="container">
    <div> <!-- Use the 'col-12' class to make the div occupy the entire width -->
        <app-refugee-searchbar></app-refugee-searchbar>
        <!--         
        <div>
            <h1>Services:</h1>
            <p>General Check-up</p>
            <p>Pediatric Care</p>
            <p>Dermatology Consultation</p>
            <p>Ophthalmology Exam</p>
            <p>Internal Medicine Consultation</p>
            <p>Vaccination Service</p>
            <p>Wound Care</p>
            <p>Health Education</p>
            <p>Blood Pressure Monitoring</p>
            <p>Home Care Assistance</p>
            <p>Teeth Cleaning</p>
            <p>Dental Check-up</p>
            <p>Root Canal Treatment</p>
            <p>Tooth Extraction</p>
            <p>Orthodontic Consultation</p>
        </div>
        <div>
            <h1>Locations:</h1>
            <p>Lisbon</p>
            <p>Porto</p>
            <p>Coimbra</p>
            <p>Funchal</p>
        </div>
         -->
    </div>

    <!-- list service providers here -->
    <div *ngFor="let serviceProvider of serviceProviders">
        <app-service-provider-details [serviceProvider]="serviceProvider"></app-service-provider-details>
    </div>
</div>