
<div class="Services list"><div class="mx-auto p-3">  
     <h2>Services List</h2> 
     <div class="card"> 
       <ul style="list-style-type: none;">
  <div class="card-body">  
      <li *ngFor="let item of healthServices">
        <div class="card-body">
          {{ item.id }} - {{ item.description }}
          <button type="button" (click)="removeService(item.id)" class="btn btn-outline-danger">Remove</button>
        </div>
      </li>
  </div>

</ul>
   </div>
 </div>
 <div class="mx-auto p-3">
 <div class="card-body">
   <h2>Add Service</h2>
   <div class="row pt-3">
     <div class="col-4">
       <label for ="">Select a service</label>
         <select class="form-select" [(ngModel)]="toaddhealthService.id">
           <option *ngFor="let item of allHealthServices" [value]="item.id">{{item.description}}</option>
         </select><br>
       </div>
     <div>
       <button type="button" (click)="addService(toaddhealthService.id)" class="btn btn-primary">Add</button>
     </div>
   </div>
</div>

