<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Do a donation</h5>
        <p class="card-text">If you want to help click on the button</p>
         <button type="button" (click)="toCreateDonation()" class="btn btn-primary">Open the donation form</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">List of Donations you have made</h5>
        <p class="card-text">See the donations</p>
          <button type="button" (click)="toDonationsList()" class="btn btn-primary">Open the donation form</button>
      </div>
    </div>
  </div>
</div>