<div class="search-bar">
  <input id="service-name" placeholder="Type your search">
  <button>Search</button>
</div>

<div class="card" style="width:400px">
  <div class="card-body">
    <h4 class="card-title">Do a donation</h4>
    <p class="card-text">If you want to help</p>
    <button type="button" (click)="toCreateDonation()" class="btn btn-primary">Open the donation form</button>
  </div>
</div>

<div class="card" style="width:400px">
  <div class="card-body">
    <h4 class="card-title">List of Donations you have made</h4>
    <p class="card-text">Click here</p>
    <button type="button" (click)="toDonationsList()" class="btn btn-primary">Open the donation form</button>
  </div>
</div>