.donation-list {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
}

h2.title {
  font-size: 45px;
  margin-bottom: 20px;
}

.list-group-item {
  padding: 15px;
  border: 1px solid #1b1a1a;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(255, 252, 252, 0.1);
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item-action {
  margin-bottom: 20px; /* Adjust the spacing between each donation */
}

.amount {
  color: #27ae60; /* Green color for amount */
}

.donation-type {
  color: #3498db; /* Blue color for donation type */
}

.fiscal-identity {
  color: #f39c12; /* Orange color for fiscal identity */
}

.pagination {
  margin-top: 20px;
}

  