<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="title text-center mb-4">List of Donations</h2>
      <div *ngFor="let donation of donations" class="list-group donation-list">
        <div class="list-group-item list-group-item-action mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Date: {{ donation.date }} - Amount: {{ donation.amount }}€</h5>
            <div>
              <p class="mb-0"><b>Donation Type: </b> {{ donation.donationType }}</p>
              <p class="mb-0"><b>Fiscal Identity: </b> {{ donation.fiscalIdentity }}</p>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Pagination" class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link" (click)="previousPage()">Previous</button>
          </li>
          <li class="page-item">
            <button class="page-link" (click)="nextPage()">Next</button>
          </li>
        </ul>
        <app-back-button></app-back-button>
      </nav>
    </div>
  </div>
</div>


  
  