<div class="container">
    <div class="card mb-3">
      <div class="card-body">

        <!-- Service Provider Information -->
        <div class="row">
          <div class="col-md-12">
            <app-service-provider-details-simple [serviceProvider]="serviceProvider"></app-service-provider-details-simple>
          </div>
        </div>

        <!-- Start Date and Start Time -->
        <div class="row">
          <div class="col-md-6">
            <p><strong>Start Date:</strong> {{ availability.startDate }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Start Time:</strong> {{ availability.startTime }}</p>
          </div>
        </div>

        <!-- End Date and End Time -->
        <div class="row">
          <div class="col-md-6">
            <p><strong>End Date:</strong> {{ availability.endDate }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>End Time:</strong> {{ availability.endTime }}</p>
          </div>
        </div>

        <div class="row align-items-center"> <!-- Center the row vertically -->
          <div class="col-md-6">
            <h5>{{ availability.availabilityStatus }}</h5>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <div *ngIf="isRefugee()">
              <button class="btn btn-primary" (click)="RefugeeRequestsAppointment()">Request Appointment</button>
              <!-- Show depending on availability status               
              <button class="btn btn-primary" *ngIf="isFree()" (click)="RefugeeRequestsAppointment()">Request Appointment</button>
              <button class="btn btn-danger" *ngIf="isFree() === false" (click)="RefugeeCancelsAppointment()">Cancel Appointment</button>
               -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  