<div class="center-content">
  <div class="width-custom" style="--width: 80%;">
    <div>
      <h2>Hey,</h2>
      <h2>Let's Sign In</h2>
    </div>

    <div>
      <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Email</span>
          <input type="email" id="email" placeholder="email" class="form-control" ngModel name="email" required>
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon2">Password</span>
          <input type="password" id="password" placeholder="password" class="form-control" ngModel name="password" required>
        </div>
      </form>

      <div class="mb-2 d-flex justify-content-between">
        <button type="button" (click)="toSignUp()" class="btn btn-light">Register an account</button>
        <button type="button" (click)="toContact()" class="btn btn-light">Ask to Administrator</button>
        <button type="button" (click)="toFaq()" class="btn btn-light">Questions & Answers</button>
        <button type="button" (click)="toServiceRequest()" class="btn btn-light">Insert New Service Type</button>

        <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="getHelloJava()">Hello Java</button>
    <button type="button" class="btn btn-primary" (click)="getHelloDotNet()">Hello Dot Net</button>
  </div>
</div>