
<div class="mb-2 d-flex justify-content-between">
    <button type="button" (click)="toHome()" class="btn btn-light">Home</button>
    <button type="button" (click)="toSignIn()" class="btn btn-light">Sign In</button>
    <button type="button" (click)="toSignUp()" class="btn btn-light">Sign Up</button>
    <!-- <button type="button" (click)="toContact()" class="btn btn-light">Ask to Administrator</button> -->
    <!--<button type="button" (click)="toFaq()" class="btn btn-light">Questions & Answers</button> -->
    <!--<button type="button" (click)="toServiceRequest()" class="btn btn-light">Insert New Service Type</button> -->
    <!--<button type="button" (click)="toRegisterNewCategory()" class="btn btn-light">Insert New Category Type</button> -->
    <!--<button type="button" (click)="toViewAdmin()" class="btn btn-light">View Admin</button> -->
</div>