<div class="container">
  <h2 class="text-center mb-4">Create Donation</h2>
  <form (ngSubmit)="createDonation(donation.amount, donation.donationType, donation.fiscalIdentity, '')">
    <div class="form-group">
      <label for="amount">Amount:</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon2" [(ngModel)]="donation.amount" name="amount" required>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">€</span>
        </div>
      </div>
      <div *ngIf="warningMessage" class="alert alert-danger">{{ warningMessage }}</div>
    </div>
    <div class="form-group">
      <label for="donationType">Donation Type:</label>
      <select id="donationType" name="donationType" [(ngModel)]="donation.donationType" class="form-control" required>
        <option value="{{ DonationType.Singular }}">Singular</option>
        <option value="{{ DonationType.Monthly }}">Monthly</option>
        <option value="{{ DonationType.Yearly }}">Yearly</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fiscalIdentity">Fiscal Identity:</label>
      <select id="fiscalIdentity" name="fiscalIdentity" [(ngModel)]="donation.fiscalIdentity" class="form-control" required>
        <option value="{{ FiscalIdentity.Individual }}">Individual</option>
        <option value="{{ FiscalIdentity.Company }}">Company</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Create Donation</button>
  </form>
</div>
<app-back-button></app-back-button>




 

  