<h1>Refugee Home</h1>

<div>
  <app-service-provider-details></app-service-provider-details>
  <app-availability></app-availability>
  <app-availability-input></app-availability-input>
  <app-appointment></app-appointment>
</div>

<div>
    <div class="card" style="width:400px">
      <div class="card-body">
        <h4 class="card-title">Do a Review</h4>
        <p class="card-text">If you want to leave a review of the service provided click here</p>
        <button type="button" (click)="toCreateReview()" class="btn btn-primary">Open the review form</button>
      </div>
    </div>
  </div>