<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="d-flex justify-content-between text-center">
          <button class="btn btn-outline-info me-2" (click)="ToRefugeeHome()">Home</button>
          <button class="btn btn-outline-info me-2" (click)="ToRefugeeSearch()">Search</button>
          <!--    
          <button class="btn btn-secondary me-2" (click)="ToRefugeeHelpRequest()">Help Request</button>
           -->
          <button class="btn btn-outline-info me-2" (click)="ToRefugeeAppointments()">Appointments</button>
          <button class="btn btn-outline-info" (click)="ToRefugeeProfile()">Profile</button>
        </div>
      </div>
    </div>
</div>
