<div class="mb-2 d-flex justify-content-between">
    <button class="mb-2 btn btn-secondary" (click)="ToRefugeeHome()">Home</button>
    <button class="mb-2 btn btn-secondary" (click)="ToRefugeeSearch()">Search</button>
    <!--    
    <button class="mb-2 btn btn-secondary" (click)="ToRefugeeHelpRequest()">Help Request</button>
     -->
    <button class="mb-2 btn btn-secondary" (click)="ToRefugeeAppointments()">Appointments</button>
    <button class="mb-2 btn btn-secondary" (click)="ToRefugeeProfile()">Profile</button>
</div>